@@ -1,137 +1,159 @@
# Config Files
﻿# Config Files
config.py
config.json
hoshino/config/
local_coolq_config/

# Database
db.json
database.json
*.db
*.sqlite
res/
img/
imgs/
image/
images/

# 非公开的组件
hoshino/modules/pcrclanbattle/clanbattlev3
hoshino/modules/pcrclanbattle/clanbattlev4
hoshino/modules/umamusume
hoshino/modules/image_generator
hoshino/modules/bf_record_search
hoshino/modules/yiqing_HoshinoBot
hoshino/modules/travelpolicy_HoshinoBot
hoshino/modules/novel_ai_kai
hoshino/modules/genshin_calendar
hoshino/modules/genshinkfc
hoshino/modules/music
hoshino/modules/Genshin_Impact_bot
hoshino/modules/aichat
hoshino/modules/egenshin
hoshino/modules/groupmaster
hoshino/modules/groupmaster/chat.py
hoshino/modules/heweather
hoshino/modules/genshinUID
hoshino/modules/rss
_git/

# start
start.bat
requirements_back.txt
pyproject.toml


# log
log/

# 暂时删除的代码
TRASH/
kokkoro-OLD/

# VSCode Folder
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/